body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #acb1cd;
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-buttons {
    display: flex;
    gap: 1em;
}

.nav-item {
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}